@import "../base/module";
@import "../helpers/variables";
@import "../components/buttons";
@import "../components/navigation";
@import "../layout/module";

.concept{
  background: $dark-blue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  text-align: center;
  img{
    width: 180px;
  }
  h1{
    font-weight: 300;
    margin: 50px 0px 20px;
  }
  p{
    font-weight: 300;
    max-width: 600px;
    line-height: 150%;
  }
  @media screen and (max-width: $sm-width){
    padding: 40px 20px;
  }
}

.detailedConceptWrapper{
  padding: 60px 0px;
  >.bloc{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px 20px;

    .contentWrapper, .imageWrapper{
      width: 35%;
      text-align: center;

      @media screen and (max-width: $sm-width){
        &.contentWrapper{
          width: 100%;
        }
        &.imageWrapper{
          display: none;
        }
      }
    }

    .sectionTitle, p, img{
      width: 100%;
      margin: auto;
    }
    .contentWrapper{
      line-height: 140%;
      .sectionTitle{
        color: $dark-blue;
        margin-bottom: 15px;
      }
      p{
        color: lighten($black, 20%);
        font-size: 1em;
        font-weight: 300;
      }
    }

    .imageWrapper{
      img{
        border-radius: 50%;
      }
    }
  }
}

.featuresWrapper{
  background-color: lighten($light-beige, 5%);
  padding: 30px 0px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .screenWrapper{
    .iphoneContainer{
      max-width: 400px;
      position: relative;
      .iphoneImg{
        overflow: hidden;
        max-width: 100%;
        height: auto;
      }
      .featureScreen{
        height: auto;
        width: 52%;
        top: 19%;
        left: 24.5%;
        position: absolute;
        overflow: hidden;

        img{
          max-width: 100%;
          border-radius: 3px;
        }
      }
    }
  }

  .featuresPanel{
    text-align: center;
    width: 500px;
    .featureWrapper{
      line-height: 140%;
      .featureTitle{
        color: $red;
        margin-bottom: 15px;
      }
      .featureDescription{
        color: lighten($black, 20%);
        font-size: 1em;
        font-weight: 300;
      }
    }
    .featuresList{
      margin-top: 80px;
      nav{
        display: flex;
        justify-content: space-evenly;
        .featureLink{
          img{
            max-width: 40px;
          }

          h3{
            font-size: 1em;
            color: lighten($black, 20%);
            transition-duration: 0.6s;
          }

          &.active{
            h3{
              color: $red;
            }
          }
          &:hover{
            h3{
              color: lighten($black, 40%);
            }
          }
        }
      }
    }
  }
}