@import "../base/module";
@import "../helpers/variables";
@import "../components/buttons";
@import "../components/navigation";
@import "../layout/module";

.concept{
  background: $dark-blue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  text-align: center;
  img{
    width: 180px;
  }
  h1{
    font-weight: 300;
    margin: 50px 0px 20px;
  }
  p{
    font-weight: 300;
    max-width: 600px;
    line-height: 150%;
  }
  @media screen and (max-width: $sm-width){
    padding: 40px 20px;
  }
}

.detailedConceptWrapper{
  padding: 30px 0px;
  >.bloc{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    
    .contentWrapper, .imageWrapper{
      width: 40%;
      padding: 40px;
      line-height: 140%;
      .sectionTitle{
        color: $dark-blue;
        @media screen and (max-width: $sm-width){
          text-align: center;
        }
      }
      p{
        color: lighten($black, 20%);
        font-size: 0.9em;
        font-weight: 300;
        @media screen and (max-width: $sm-width){
          text-align: justify;
        }
      }

      @media screen and (max-width: $sm-width){
        &.contentWrapper{
          width: 100%;
        }
        &.imageWrapper{
          display: none;
        }
      }
    }
    .imageWrapper{
      img{
        width: 100%;
        border-radius: 50%;
      }
    }
    &.cuisinierWrapper{
      text-align: right;
    }
    &.foodWrapper{
      text-align: left;
    }
  }
}

.featuresWrapper{
  .featureWrapper{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background: $light-beige;
    display: flex;
    align-items: center;
    justify-content: center;

    .featureDescription{
      text-align: center;
      line-height: 140%;
      padding: 30px;
      color: $red;
      font-weight: 300;
    }
  }
}