.header{
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  background-color: $header-bg;
  height: 60px;
  line-height: 60px;
}

.header__logo{
  font-weight: 700;
  padding: 0 25px;
  float: left;
}

.menu{
  float: right;

  a{
    padding: 0 10px;
  }

  a:hover{
    color: blue;
  }
}