.footer{
  background: $light-grey;

  padding: 40px 20px;

  h2{
    color: $red;
    text-align: center;
  }
  p{
    text-align: center;
    line-height: 1.5em;
    font-weight: 300;
    margin-top: 0px;
  }
  .bloc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px auto;
    max-width: 700px;
  }
  .contactBloc{
    .contactLink{
      margin-top: 10px;
      font-size: 1.2em;
      color: darken($red, 10%);
      transition-duration: 0.3s;

      &:hover{
        color: darken($red, 20%);
      }
    }
  }
  .followBloc{
    navbar{
      margin-top: 5px;
      a{
        margin: 0px 15px;
        color: lighten(black, 50%);
        transition-duration: 0.5s;
        &:hover{
          color: darken($red, 10%);
        }
      }
    }
  }
  .newsletterBloc{
    display: flex;
    flex-wrap: wrap;
    input{
      width: 100%;
      appearance: none;
      box-sizing: border-box;
      display: inline-block;
      outline: 0;
      font-family: 'Lato', sans-serif;
      font-size: 0.9em;
      font-weight: 300;
      border-radius: 5px;
      padding: 8px 10px;
      border: solid 1px darken($red, 10%);
      color: $black;
    }
    input::placeholder{
      color: lighten(#342C2F, 40%);
    }
    button{
      margin-top: 10px;
      width: 100%;
    }
  }
}